.list-container {
  background-image: linear-gradient(black, transparent 20%);
    padding: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: flex-start;
}

.list-index-item-hover-info {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  width: 93%;
  text-align: right;
  z-index: 1000;
  
}

.list-index-item-hover-info i {
  color: white;
}

.list-index-item-hover-info i:hover {
  color: violet;
}