@import url('https://fonts.googleapis.com/css?family=Arizonia&display=swap');

div {
  color: white;
}

h1 {
  font-size: 32px;
  font-weight: 100px;
  padding-bottom: 16px;
  color: transparent;
  cursor: default;

  font-family: 'Arizonia', cursive;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 16px;
    color: white;
  font-family: sans-serif;
  cursor: default;
}

p {
  color: white;

}


.linebreak {
  margin-left: 10%;
  width: 80%;

    border: 1px solid rgb(230, 209, 52);
  outline-style: double;
  outline-color: rgb(230, 209, 52);
  box-shadow: 2px 2px 5px rgb(230, 209, 52);
}



.to-flex-row-center {
  display: flex;
  justify-content: center;
}

.login-form-container {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 314px;
  padding: 30px 68px 0px 68px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 420px;

}

.login-bg {
  background-color: gray;
  height: 100%;
  width: 100vw;
  background-image: url('../../images/bg2.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

.input-box2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-family: sans-serif;
  color: white;
  margin-bottom: 20px;
  cursor: text;
  align-items: stretch;
  border-radius: 4px;
  border: 1px solid cyan;
  outline-style: double;
  outline-color: cyan;
  box-shadow: 2px 2px 5px cyan;
}

.demo-input {
  align-items: center;
  background-color: transparent;
  border: 1px solid violet;
  box-shadow: 2px 2px 5px violet;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;  
  height: 50px;
  justify-content: center;
  margin-top: 16px;
  outline-style: double;
  outline-color: violet;
  width: 100%;
  margin-bottom: 20px;

}

.demo-input:hover {
  cursor: pointer;
}





.input-text {
  height: 5px;
  font-size: 16px;
  font-weight: 400;
  overflow: visible;
  padding-left: 20px;
  margin-top: 16px;

}

.input-text-clicked {
  height: 5px;
  font-size: 10px;
  overflow: visible;
  padding-left: 20px;
  margin-top: 5px;
}

input {
  height: 30px;
}

.login-form-container input {
  padding-left: 20px;
  padding-top: 7px;
  color: white;
}

.input-box2 input[type="text"] {
  height: 0px;
  margin: 0;
  border: none;
  background-color: transparent;
  height: 24px;
  font-size: 14px;
}

.input-box2 input[type="text"]:focus {
  outline: 0;
}

.input-box2:hover {
  cursor: text;
}



.input-box2 input[type="password"] {
  height: 0px;
  margin: 0;
  border: none;
  background-color: transparent;
  height: 24px;
  font-size: 14px;
}

.input-box2 input[type="password"]:focus {
  outline: 0;
}

.logo-signin {
  font-size: 50px;
  font-weight: 400;
  -webkit-text-stroke: 1px violet;
  text-shadow: 2px 2px 5px violet;
}

.floating-label-field {
  border-width: 0;
  color: rgba(#2c3e50, .75);
  line-height: 1;
  font: inherit;
  padding: 1.5em;
  height: 4em;
  position: relative;
}

.floating-label-field:focus {
  outline: 0;
  box-shadow: 0;
}

.floating-label-field::placeholder {
  color: transparent;
}



.floating-label-field.floating-label {
    line-height: 1;
    font: inherit;
    padding: 1.5em;
    height: 4em;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;

}



  


.signin-button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid violet;
  outline-style: double;
  outline-color: violet;
  box-shadow: 2px 2px 5px violet;
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.login-fix {
  height: 550px;
}