@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html, body {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(14, 14, 14);
  display: flex;
}

#root {
  height: 100%;
  position: relative;
  top: 0;
}

/* MOVIE INDEX: */

.movie-index-main {
  color: white;
  overflow-x: hidden;
}


.movie-index-main-video-wrapper { 
  position: relative;
  height: 100%;
  min-width: 700px;
  max-height: 520px;
  overflow: hidden;
  margin-bottom: 70px;
}

.movie-index-video-hider {
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.movie-index-video-description {
  font-size: 60px;
  position: relative;
  height: 0;
  width: 0;
  font-family: "Bebas Neue";
  left: 50px;
  top: 65px; 
  text-shadow:1px 1px 8px rgb(0, 0, 0), 1px 1px 8px rgb(0, 0, 0);
}

.movie-index-video-inner-description {
  font-size: 19px;
  font-weight: 550;
  width: 405px;
  line-height: 27px;
  margin-top: 15px;
  display: none;
}

@media only screen and (min-width: 890px) {
  .movie-index-video-inner-description {
    display: block;
  }
}

.movie-index-section-main {
  position: relative;
  height: 280px;
  margin: 30px 0px;
}


.movie-index-section-title {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 40px;
  /* padding-top: 40px; */
  padding-bottom: 5px;
  width: 99%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.movie-index-section {
  background-color: rgb(14, 14, 14);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 30px 30px;
  height: 250px;
  overflow-x: scroll;
  align-items: center;
}

.movie-index-item {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 150px;
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: 500ms all;
  overflow: hidden;
}

.movie-index-item:hover {
  height: 160px;
}

.movie-index-item-hidden-last {
  min-width: 50px;
  min-height: 100px;
  background-color: rgb(14, 14, 14);
}

.movie-index-item:hover {
  transform: scale(1.2);
  z-index: 3;
  -webkit-box-shadow:0 0 20px rgb(255, 96, 255); 
  -moz-box-shadow: 0 0 20px rgb(255, 96, 255); 
  box-shadow:0 0 20px rgb(255, 96, 255); 
  cursor: pointer; 
  margin-right: 50px;
  margin-left: 35px;
}

.movie-index-item-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.movie-index-item-title {
  color: white;
  position: absolute;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  max-width: 230px;
  width: 100%;
  text-align: center;
  top: 50px;
  padding: 2px;
  height: 30px;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
}

.movie-index-item-image {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.movie-index-item-hover-info {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  text-shadow:1px 1px 5px rgb(0, 0, 0), 1px 1px 5px rgb(0, 0, 0);
  z-index: 10;
}




/* MOVIE SHOW: */

.movie-show-main {
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  min-height: 530px;
  /* min-width:  */
}

.movie-show-main > div {
  padding-top: 0;
  height: 100vh;
}

.movie-show-player-wrapper {
  position: relative;
  /* max-height: 100%; */
  /* height: 98%; */
  overflow: hidden;
}

.back-button {
  z-index: 10;
  position: absolute;
  top: 20px; 
  left: 20px;
  height: 40px;
  width: 40px;
}

.fa-arrow-left {
  height: 40px;
  width: 40px;
  font-size: 50px;
  z-index: 10;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.755);
  text-decoration: none;  
    text-shadow: none;  
    -webkit-transition: 500ms linear 0s;  
    -moz-transition: 500ms linear 0s;  
    -o-transition: 500ms linear 0s;  
    transition: 500ms linear 0s;  
    outline: 0 none; 
}

.fa-arrow-left:hover {
  color: white;
  text-shadow: -10px 10px 10px rgb(225, 76, 255), 
    10px -10px 10px rgb(58, 196, 255);
}

.movie-show-video {
  position: relative;
  bottom: 200px;
}
