@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html, body {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(14, 14, 14);
  display: flex;
}

#root {
  height: 100%;
  position: relative;
  top: 0;
}

.movie-index-main {
  color: white;
}


.movie-index-main-video-wrapper { 
  position: relative;
  height: 100%;
  min-width: 700px;
  max-height: 500px;
  overflow: hidden;
}

.movie-index-video-hider {
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100px;
  object-fit: cover;
  position: absolute;
}

.movie-index-video-description {
  font-size: 60px;
  position: relative;
  height: 0;
  width: 0;
  font-family: "Bebas Neue";
  left: 50px;
  top: 50px; 
  text-shadow:1px 1px 8px rgb(0, 0, 0), 1px 1px 8px rgb(0, 0, 0);
}

.movie-index-video-inner-description {
  font-size: 20px;
  font-weight: 600;
  width: 405px;
  line-height: 27px;
  margin-top: 25px;
  display: none;
}

@media only screen and (min-width: 980px) {
  .movie-index-video-inner-description {
    display: block;
  }
}

.movie-index-section-main {
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
}

.movie-index-section-title {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.movie-index-section {
  background-color: rgb(14, 14, 14);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 25px 30px;
  overflow: scroll;
}

.movie-index-item {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 150px;
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: 600ms all;
}

.movie-index-item-hidden-last {
  min-width: 50px;
  min-height: 100px;
  background-color: rgb(14, 14, 14);
}

.movie-index-item:hover {
  transform: scale(1.2);
  z-index: 3;
  -webkit-box-shadow:0 0 30px rgb(209, 103, 255); 
  -moz-box-shadow: 0 0 30px rgb(209, 103, 255); 
  box-shadow:0 0 30px rgb(209, 103, 255);
  cursor: pointer;
  margin-right: 50px;
  margin-left: 35px;
}

.movie-index-item-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.movie-index-item-title {
  color: white;
  position: absolute;
  /* font-family: "Boogaloo"; */
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  max-width: 230px;
  width: 100%;
  text-align: center;
  top: 70px;
  padding: 2px;
  height: 30px;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
}

.movie-index-item-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.movie-show-main {
  max-height: 98%;
  height: 98%;
  position: relative;
  overflow: hidden;
}

.movie-show-main > div {
  padding-top: 0;
  height: 100vh;
}

.movie-show-player-wrapper {
  position: relative;
  height: 100%;
}

.back-button {
  z-index: 10;
  position: absolute;
  top: 20px; 
  left: 15px;
  height: 40px;
  width: 40px;
}

.fa-arrow-left {
  height: 40px;
  width: 40px;
  font-size: 40px;
  z-index: 10;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.721);
  text-decoration: none;  
    text-shadow: none;  
    -webkit-transition: 500ms linear 0s;  
    -moz-transition: 500ms linear 0s;  
    -o-transition: 500ms linear 0s;  
    transition: 500ms linear 0s;  
    outline: 0 none; 
}

.fa-arrow-left:hover {
  color: white;
  text-shadow: -10px 10px 10px rgb(225, 76, 255), 
    10px -10px 10px rgb(58, 196, 255);
}

.movie-show-video {
  position: relative;
  bottom: 60px;
}
