.nav-bar{
  display: flex;
  flex-direction: row;
  height: 68px;
  width: 100%;
  background: rgb(20, 20, 20);
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  
}

.nav-bar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  width: 100%;
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  align-items: center;
  margin-left: 10px;
}


.l-side-nav-bar-links {
  display: flex;
  flex-direction: row;
}

.r-side-nav-bar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar-content a {
  margin-top: 5px;
  color: cyan;
  padding: 10px;
}

.nav-bar-logo {
  background-image: url("../../images/2014-07-01-richard32.jpg");
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  margin: 2px;
  border-radius: 3px;
}

.nav-bar h1 {
  color: violet;
  font-size: 40px;
  padding: 0; 
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 90px;
}

.dropdown-content li {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .up-arrow {
  display: inherit;
}

.dropdown-content {
  display: none;
  top: 88px;
  right: 0px;
  position: absolute;
  min-width: 160px;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  background: rgba(238, 130, 238, 0.671);

}

.dropdown-content li{
  color: cyan;
}

.up-arrow {
  display: none;
  background: transparent;
	border-color:   rgba(238, 130, 238, 0.671) transparent;
	border-style: solid;
	border-width: 0px 8px 8px 8px;
	height: 0px;
  width: 0px;
  position: absolute;
  top: 80px;
  left: 2vw;
}

.search-form input[type=search] {
	width: 65px;
	padding-left: 30px;
	color: white;
  cursor: pointer;
  background: rgb(20, 20, 20);
  height: 20px;
}
/* .search-form input[type=search]:hover {
	background-color: rgb(20, 20, 20);
} */
.search-form input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: cyan;
	background-color: rgb(20, 20, 20);
	cursor: auto;
}
.search-form input:-moz-placeholder {
	color: rgba(0, 255, 255, 0.438);
}
.search-form input::-webkit-input-placeholder {
	color: rgba(0, 255, 255, 0.438);
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	border: solid 1px violet;
	padding: 6px 10px 6px 32px;
	width: 55px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	border-color: violet;
	
	-webkit-box-shadow: 0 0 10px rgba(238, 130, 238, 0.5);
	-moz-box-shadow: 0 0 10px  rgba(238, 130, 238, 0.5);;
	box-shadow: 0 0 10px  rgba(238, 130, 238, 0.5);;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.search-form{
  margin-right: 30px;
}

.nav-bar i{
  margin: 5px;
  font-size: 20px;
  color: violet;
}

.search-form i {
  position: absolute;
  font-size: 12px;
  top: 23px;
  margin-left: 12px;
  margin-right: 5px;
}