#root {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;
  width: 100%;
}

.loading-background {
  background-image: linear-gradient(black, transparent 20%);
  height: 100%;
  width: 100%;
}

.loading-background i {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: white;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loading-background p {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: white;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search-list-header {
  display: flex;
  height: 100px;
  width: 100%;
  color: white;
  align-content: center;
  justify-content: center;
}

.search-list-header h1 {
  color: white;
}