
 @import url("./base/reset.css");

 /* @import url("./base/colors.css"); */

 @import url("./base/layout.css");
 
 @import url("./components/_login.css");
 @import url("./components/_navbar.css");
 @import url("./components/_signup.css");
 @import url("./components/_movie_index.css");
 @import url("./components/_search.css");